.topbar {
	background-color: #BBB;
	height: 8vh;
}

.timeline {
	background-color: #BBB;
	height: 20vh;
}

.sidebar {
	background-color: #BBB;
	height: 70vh;
}

.canvasHolder {
	height:70vh;
	background:#eee;
	position: relative;
}

.canvas {
	position: relative;
	outline: solid black 1px;
	background:#fff;
}

.gadget {
	width:10px;
	height:10px;
	position: absolute;
	top:0;
}

.rotate{
	background:#FF0;
}
.origin{
	background:#F0F;
}
.resize{
	background:#0FF;
}